service:
  name: "profiles-svc"

rest:
  port: ":8002"
  timeouts:
    read: 15s #seconds
    read_header: 15s #seconds
    write: 15s #seconds
    idle: 60s #seconds

log:
  level: "debug"
  format: "text"

database:
  sql:
    url: "postgresql://postgres:postgres@localhost:7002/postgres?sslmode=disable"

oauth:
  google:
    client_id: "client_id"
    client_secret: "megasupersecret"
    redirect_url: "http://localhost:8001/v1/sso/google/login/callback"

jwt:
  user:
    access_token:
      secret_key: "UnG06MAU2i1Mvqf8" #example

kafka:
  brokers:
    - "localhost:9092"

swagger:
  enabled: true
  url: "/swagger"
  port: "8080"