service:
  name: "profiles-svc"

rest:
  port: ":8002"
  timeouts:
    read: 15s #seconds
    read_header: 15s #seconds
    write: 15s #seconds
    idle: 60s #seconds

log:
  level: "debug"
  format: "text"

database:
  sql:
    url: "postgresql://postgres:postgres@localhost:7002/postgres?sslmode=disable"

auth:
  account:
    token:
      access:
        secret_key: "UnG06MAU2i1Mvqf8" #example

s3:
  aws:
    region: "us-east-1"
    bucket_name: "my-app-bucket"
    access_key_id: "your-access-key-id"
    secret_access_key: "your-secret-access-key"
    session_token: "your-session-token"
  upload:
    token:
      secret_key: "jdweoiqjweoiqjweoiqjweoiqjweoiqjweoiqjw" #example

    profile:
      avatar:
        max_size: 5 << 20 # 5 MB
        allowed_types:
          - "jpeg"
          - "jpg"
          - "png"
          - "gif"
          - "img"
        upload_token_ttl: 15m # 15 minutes
        upload_token_scope: "upload_profile_avatar"

kafka:
  brokers:
    - "localhost:9092"

swagger:
  enabled: true
  url: "/swagger"
  port: "8080"