openapi: 3.0.0
info:
  description: profile service docs
  title: Chains lab profile service
  version: 0.0.1
servers:
- url: /
paths:
  /test:
    post:
      description: Test
      responses:
        "201":
          description: successfully
      tags:
      - Test
components:
  schemas:
    UpdateProfile:
      properties:
        data:
          $ref: "#/components/schemas/UpdateProfile_data"
      required:
      - data
      type: object
    UpdateOfficial:
      properties:
        data:
          $ref: "#/components/schemas/UpdateOfficial_data"
      required:
      - data
      type: object
    Profile:
      properties:
        data:
          $ref: "#/components/schemas/ProfileData"
      required:
      - data
      type: object
    ProfileData:
      properties:
        id:
          description: account id
          format: uuid
          type: string
        type:
          enum:
          - profile
          type: string
        attributes:
          $ref: "#/components/schemas/ProfileAttributes"
      required:
      - attributes
      - id
      - type
      type: object
    ProfileAttributes:
      properties:
        username:
          description: Username
          type: string
        pseudonym:
          description: Pseudonym
          type: string
        description:
          description: Description
          type: string
        avatar:
          description: Avatar URL
          format: uri
          type: string
        official:
          description: Is Official Account
          type: boolean
        updated_at:
          description: Updated At
          format: date-time
          type: string
        created_at:
          description: Created At
          format: date-time
          type: string
      required:
      - created_at
      - official
      - updated_at
      - username
      type: object
    ProfilesCollection:
      properties:
        data:
          items:
            $ref: "#/components/schemas/ProfileData"
          type: array
        links:
          $ref: "#/components/schemas/PaginationData"
      required:
      - data
      - links
      type: object
    PaginationData:
      properties:
        self:
          description: link to the current page
          format: uri
          type: string
        first:
          description: link to the first page
          format: uri
          type: string
        last:
          description: link to the last page
          format: uri
          type: string
        prev:
          description: link to the previous page
          format: uri
          type: string
        next:
          description: link to the next page
          format: uri
          type: string
      required:
      - self
      type: object
    UpdateProfile_data_attributes:
      properties:
        pseudonym:
          description: Pseudonym
          type: string
        description:
          description: Description
          type: string
        avatar:
          description: Avatar URL
          format: uri
          type: string
      type: object
    UpdateProfile_data:
      properties:
        id:
          description: user id
          format: uuid
          type: string
        type:
          enum:
          - update_profile
          type: string
        attributes:
          $ref: "#/components/schemas/UpdateProfile_data_attributes"
      required:
      - attributes
      - id
      - type
      type: object
    UpdateOfficial_data_attributes:
      properties:
        official:
          description: official
          type: boolean
      required:
      - official
      type: object
    UpdateOfficial_data:
      properties:
        id:
          description: user id
          format: uuid
          type: string
        type:
          enum:
          - update_profile_official
          type: string
        attributes:
          $ref: "#/components/schemas/UpdateOfficial_data_attributes"
      required:
      - attributes
      - id
      - type
      type: object
